.title {
  font-family: var(--font-text-2);
  font-size: 50px;
  font-weight: 700;
  line-height: 90%; /* 45px */
  letter-spacing: -2.5px;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 34px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 30px;
  }
}
